$ghost-white: #fbf8ff;
$lavender-web: #e6e6ff;
$neon-blue: #5f5fff;
$blue-pigment: #383899;
$st-patricks-blue: #272768;
$oxford-blue: #0f0f2b;

$white: #ffffff;
$manatee: #ada9bb;
$sonic-silver: #707070;
$dark-liver: #484554;
$black: #000000;
$almost-black: #0a0a0a;

$green-cyan: #009362;
$caribbean-green: #00cc95;
$orange-soda: #ff472b;
$aurelion: #ffee00;
