@font-face {
  font-family: 'Exo2';
  src: url('../../fonts/Exo2-VariableFont_wght.woff2')
    format('woff2-variations');
  font-weight: 100 900;
  font-stretch: 25% 151%;
  font-style: normal;
  unicode-range: U+000-5FF;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../../fonts/WorkSans-VariableFont_wght.woff2')
    format('woff2-variations');
  font-weight: 100 900;
  font-stretch: 25% 151%;
  font-style: normal;
  unicode-range: U+000-5FF;
  font-display: swap;
}

@font-face {
  font-family: 'Alegreya';
  src: url('../../fonts/Alegreya-VariableFont_wght.woff2')
    format('woff2-variations');
  font-weight: 300 900;
  font-stretch: 25% 151%;
  font-style: normal;
  unicode-range: U+000-5FF;
  font-display: swap;
}

@font-face {
  font-family: 'Alegreya Italic';
  src: url('../../fonts/Alegreya-Italic-VariableFont_wght.woff2')
    format('woff2-variations');
  font-weight: 300 900;
  font-stretch: 25% 151%;
  font-style: normal;
  unicode-range: U+000-5FF;
  font-display: swap;
}
