@use '../abstracts' as *;

.footer {
  margin-top: 6rem;
  border-top: 0.15rem dashed $sonic-silver;
  border-bottom: 0.5rem solid $neon-blue;
  padding-top: 2em;
  padding-bottom: 0.5em;
  text-align: center;

  .lang {
    margin-bottom: 1rem;
    &-links {
      @include mq(small) {
        display: flex;
        justify-content: center;
        gap: 10%;
      }
    }
  }

  .social-links {
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include mq(small) {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  &-copy {
    margin-top: 1.5rem;
    text-align: center;

    a {
      text-decoration: underline solid;
      text-decoration-thickness: 0.095em;
      text-decoration-color: var(--clr-primary);
    }
  }
}
