---
  layout: layouts/base.njk
  title: About Rafael Calvo — Front-end Web Developer and UI/UX Designer
  header: Something about me
  description: 'Small biography of Rafael Calvo'
  image: https://i.ibb.co/t4YHkSG/About-card-en.png
---

<header class="about-header header">
  <h1>{{ header }}</h1>
</header>
<article class="about">
  <p>
    I'm a UI/UX designer and Frontend Developer who's been working in making
    websites that work, are good looking and easy to navigate. In addition I'll
    help your business hav more reach to more future clients.
  </p>

  <br />

  <p>
    Since I began my career I've always been interested in making websites that
    are always pleasant to the eyes and interesting enough that keep the
    visitors interested in its content.
  </p>

  <br />
  <br />

  <h3>My Journey</h3>

  <p>
    A few years ago I was asked if I could make a website for the
    <a href="https://fundaayc.wordpress.com/" target="_blank">Foundation</a> my
    father was founding. Up until that point, my only "experience" with web
    development was a MySpace page I made ages ago and so I bluffed my way and
    said that I'd do it. Curiosity is what motivates me.
  </p>

  <br />

  <p>
    A few years ago, I began searching "How to make a website" after I was asked
    if I can make a website, and bluffing I said "Yes I can". Since then, I used
    various sources for learning (from
    <a href="https://www.youtube.com/" target="_blank">YouTube</a> to
    <a href="https://www.freecodecamp.org/" target="_blank">Freecode Camp</a>,
    including a bunch of blog articles from several sites).
  </p>
</article>
<section class="testimonials">
  <h3>Establishing good relations</h3>
  <ul class="testimonials-grid">
    <li class="testimonial">
      <figure>
        <blockquote cite="https://www.huxley.net/bnw/four.html">
          <p>
            "Rafael is always available and is attentive to any problems that
            arise to solve them as quickly as possible. He's an important member
            for our organization."
          </p>
        </blockquote>
        <figcaption>
          —Henrique Vera, Fundación Arquitectura y Ciudad.
        </figcaption>
      </figure>
    </li>
    <li class="testimonial">
      <figure>
        <blockquote cite="https://www.huxley.net/bnw/four.html">
          <p>
            "Rafael is very careful with what he does, his help has helped me
            gain more followers and clients has also helped me reach more
            people."
          </p>
        </blockquote>
        <figcaption>—María Fernanda Gonzáles, Mafita Crochet.</figcaption>
      </figure>
    </li>
  </ul>
</section>
