---
  layout: layouts/base.njk
  title: Contact Rafael Calvo — Front-end Web Developer and UI/UX Designer
  header: Get in touch
  description: Do you have an idea or project that requires some design or a front-end web developer? Fill out the form and I will contact you as soon as possible.
  image: https://i.ibb.co/7RTXxjq/Contact-card-en.png
---

<section class="contact">
  <header class="contact-header header">
    <h1>{{ header }}</h1>
    <p>{{ description }}</p>
  </header>
  <div class="contact-grid">
    <form class="contact-form" name="contact" method="POST" data-netlify="true">
      <div class="name">
        <label for="name">Name (Required):</label>
        <input
          type="text"
          name="name"
          id="name"
          autocomplete="name"
          placeholder="Your name"
          title="Please enter your name"
          required
        />
      </div>
      <div class="email">
        <label for="email">Email (Required):</label>
        <input
          type="email"
          name="email"
          id="email"
          autocomplete="email"
          placeholder="Your email address"
          title="The domain portion of the email address is invalid (the portion after the @)."
          pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$"
          required
        />
      </div>
      <div class="message">
        <label for="message">Message:</label>
        <textarea
          name="message"
          id="message"
          placeholder="Write your message here"
          rows="7"
          spellcheck="true"
          required
        ></textarea>
      </div>
      <div class="submit">
        <button class="button button-primary" type="submit">
          Send Message
        </button>
      </div>
    </form>
  </div>
</section>
