---
  layout: layouts/base.njk
  title: Services of Rafael Calvo — Front-end Web Developer and UI/UX Designer
  header: What can I offer
  image: https://i.ibb.co/JHYB1mJ/Services-card-en.png
  keywords: Design, CSS, SEO, Development, Web Development
---

<header class="services-header header">
  <h1>{{ header }}</h1>
</header>
<article class="services">
  <p>
    After scheduling a meeting and reaching an agreement my workflow process is
    the following:
  </p>
  <br>

  <section>
    <h3>Full Design</h3>
    <p>
      Here, I'll check If you have an existing website and make a redesign of
      it, else I'll make the website from scratch. If you have any color,
      typography or idea in mind I'll make sure to use them in the design.
    </p>
    <ol>
      <li>
        I'll make a rough sketch/mockup that shows how website will look, this
        initial design will work as a prototype and will be subject to future
        changes. This is made so that we have an idea of how the site will look.
      </li>
      <li>
        Based on the sketch I'll proceed to make the final design of the
        website. This time I'll follow every step so that it'll be accessible,
        making sure it has the correct color contrast, legible typography and
        comfortable sizing.
      </li>
    </ol>
  </section>

  <section>
    <h3>Constant Development</h3>
    <p>Here I'll use the stack that suits best the website.</p>
    <ol>
      <li>
        If you want a single landing page or a site with a few pages HTML, CSS
        and JavaScript will suffice.
      </li>
      <li>
        If you want a bigger, more dynamic site or a store, Wordpress will be my
        choice. That way, if you want to add your own content (like a blog or
        news section) you can do that on your own (if that's what you want).
        Otherwise, I can help you with that.
      </li>
    </ol>
  </section>

  <section>
    <h3>SEO Optimization</h3>
    <p>
      If you already have a website, I'll run it through an auditor to check if
      the site meets it comply with the minimum SEO requirements. Else, while
      I'm in the developing stage, I'll make sure that the site meet said
      requirements and, after its deployment, keep it updated and optimized for
      it.
    </p>
  </section>
</article>
