---
  layout: layouts/base.njk
  title: Sobre Rafael Calvo — Desarrollador Web Front End y Diseñador UI/UX
  header: Algo sobre mi
  description: 'Biografía de Rafael Calvo'
  image: https://i.ibb.co/fSJCN2J/About-card-es.png
---

<header class="about-header header">
  <h1>{{ header }}</h1>
</header>
<article class="about">
  <p>
    Soy un diseñador de UI/UX y desarrollador de frontend independiente que
    tiene como objetivo hacer sitios web y diseños funcionales, atractivos,
    fáciles de navegar y accesibles.
  </p>

  <br />

  <p>
    Desde que comencé mi carrera, siempre me ha interesado hacer sitios web que
    son agradables a la vista y lo suficientemente interesantes como para
    mantener a los visitantes interesado en su contenido.
  </p>

  <br />
  <br />

  <h3>Mi viaje</h3>

  <p>
    Hace unos años me preguntaron si podía hacer un sitio web para la
    <a href="https://fundaayc.wordpress.com/" target="_blank">Fundación</a> que
    estaba fundando mi padre. Hasta ese momento, mi única "experiencia" con el
    desarrollo web era una página de MySpace que hice hace mucho tiempo, así que
    pensé que no tenía nada que perder y dije que lo haría. La curiosidad es lo
    que me motiva.
  </p>
  <br />
  <p>
    Luego, comencé a buscar "Cómo hacer un sitio web" después de que me
    preguntaran si podía hacer un sitio web, y fanfarroneando dije "Sí, puedo".
    Desde entonces, utilicé varias fuentes para aprender (desde
    <a href="https://www.youtube.com/" target="_blank">YouTube</a> a
    <a href="https://www.freecodecamp.org/" target="_blank">Freecode Camp</a>,
    incluido un montón de artículos de blogs de varios sitios).
  </p>
</article>
<section class="testimonials">
  <h3>Estableciendo buenas relaciones</h3>
  <ul class="testimonials-grid">
    <li class="testimonial">
      <figure>
        <blockquote cite="https://www.huxley.net/bnw/four.html">
          <p>
            "Rafael está siempre disponible y atento a cualquier problema que
            surja para solucionarlo lo antes posible. Es un miembro importante
            para nuestra organización."
          </p>
        </blockquote>
        <figcaption>
          —Henrique Vera, Fundación Arquitectura y Ciudad.
        </figcaption>
      </figure>
    </li>
    <li class="testimonial">
      <figure>
        <blockquote cite="https://www.huxley.net/bnw/four.html">
          <p>
            "Rafael es muy cuidadoso con lo que hace, su ayuda me ha ayudado
            ganar más seguidores y clientes, también me ha ayudado a llegar a
            más personas."
          </p>
        </blockquote>
        <figcaption>—María Fernanda Gonzáles, Mafita Crochet.</figcaption>
      </figure>
    </li>
  </ul>
</section>
