---
  layout: layouts/base.njk
  title: Servicios de Rafael Calvo — Desarrollador Web Front End y Diseñador UI/UX
  header: Que puedo ofrecer
  description: 'Servicios de Rafael Calvo'
  image: https://i.ibb.co/DLQX90g/Services-card-es.png
  keywords: Diseño, CSS, SEO, Desarrollo, Desarrollo Web
---

<header class="services-header header">
  <h1>{{ header }}</h1>
</header>
<article class="services">
  <p>
    Después de programar una reunión y llegar a un acuerdo, mi proceso de trabajo es la siguiente:
  </p>
  <br>

  <section>
    <h3>Diseño completo</h3>
    <p>
      Aquí, comprobaré si tienes un sitio web existente y realizaré un rediseño, de lo contrario, haré tu sitio web desde cero. Si tienes algún color, tipografía en mente o idea, me aseguraré de usarlos en el diseño.
    </p>
    <ol>
      <li>
        Haré un boceto que muestre cómo se verá el sitio web, este diseño inicial funcionará como un prototipo y estará sujeto a futuros cambios. Esto lo hago para que tengamos una idea base de cómo se verá el sitio.
      </li>
      <li>
        Con base en el boceto hecho anteriormente procederé a realizar el diseño final del sitio web. Esta vez seguiré cada paso para que sea accesible asegurándome de que tenga el contraste de color correcto, tipografía legible y tamaño de letras cómodo.
      </li>
    </ol>
  </section>

  <section>
    <h3>Desarrollo constante</h3>
    <p>Aquí usaré la tecnología que mejor se adapte al proyecto.</p>
    <ol>
      <li>
        Si deseas una única página de destino o un sitio con algunas páginas HTML, CSS y JavaScript será suficiente.
      </li>
      <li>
        Si deseas un sitio o una tienda más grande y dinámica, Wordpress (o alguna opción de Jamstack) será mi elección. De esa forma, si desea agregar su propio contenido (como un blog o sección de noticias) puedes hacerlo por tu cuenta (si eso es lo que quieres). De lo contrario, puedo ayudarte con eso.
      </li>
    </ol>
  </section>

  <section>
    <h3>Optimización SEO</h3>
    <p>
      Si ya tienes un sitio web, lo ejecutaré a través de un auditor para verificar si el sitio cumple con los requisitos mínimos de SEO. De lo contrario, mientras estoy en la etapa de desarrollo, me aseguraré de que que el sitio cumpla dichos requisitos y, después de su implementación, mantenerlo actualizado y optimizado para SEO.
    </p>
  </section>
</article>
