@use '../abstracts' as *;

.button {
  font-size: 1em;
  text-align: center;
  display: inline-block;
  padding: 0.5em 1em;
  margin-right: 1rem;
  border-width: 0.075em;
  border-color: var(--border);
  border-style: solid;
  border-radius: $b-radius-s;
  cursor: pointer;
  transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
  position: relative;
  box-shadow: 4px 4px 0 var(--btn-shadow);

  &:hover {
    box-shadow: 6px 6px 0 var(--btn-shadow);
    transform: translate3d(-2px, -2px, 0);
  }

  &:focus {
    outline: max(1px, 0.1em) dashed currentColor;
    outline-offset: -0.25em;
  }

  &:active {
    box-shadow: none;
    transform: translate3d(6px, 6px, 0);
  }

  @include mq(small) {
    margin-right: 2rem;
  }
}

.button-primary {
  background-color: $neon-blue;
  color: $white;
}

.button-secondary {
  background-color: $white;
  color: $almost-black;
  box-shadow: 4px 4px 0 $neon-blue;

  &:hover {
    box-shadow: 4px 4px 0 $neon-blue;
    box-shadow: 6px 6px 0 $neon-blue;
    transform: translate3d(-2px, -2px, 0);
  }

  &:focus {
    outline: max(1px, 0.1em) dashed currentColor;
    outline-offset: -0.25em;
  }
}
