@use "../abstracts/" as *;

.services-grid {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;

  @include mq(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  .service-header {
    display: flex;
    justify-content: flex-start;
    gap: 3%;
    align-items: center;
    align-content: center;
    margin-bottom: 1rem;

    h3 {
      margin-bottom: 0;
    }
  }

  .service {
    svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
